# Dependencies
node_modules/

# Build files
build/
dist/

# Environment files
.env
.env.local

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db 

# File di configurazione con chiavi API
Web.config
*.config
appsettings.json
.env 

# File JavaScript con chiavi API
App.js 
# Aggiungi al file .gitignore
*.mdb
*.ldb  # file di lock temporanei di Access
App_Data/*.mdb